#videos {
  padding: 6rem 2rem;
  /* background: #050505; */
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.videosTitle {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.videosTitle span {
  color: #facc15;
}

/* GRID */
.videosGrid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.videoBox {
  aspect-ratio: 16 / 9;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background: #000;
  cursor: pointer;
}

.videoBox iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.videoLabel {
  position: absolute;
  bottom: 0.3rem;   
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.85rem;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.35rem 0.9rem;
  border-radius: 0.5rem;
  text-align: center;
  white-space: nowrap;
}



/* SEE MORE */
.videosBtnWrap {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.seeMoreBtn {
  background: transparent;
  color: #facc15;
  border: 1px solid rgba(250, 204, 21, 0.5);
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.4s ease;
}

.seeMoreBtn:hover {
  background: #facc15;
  color: #000;
}


/* for mobile tap */
.seeMoreBtn:active {
  background: #facc15; /* yellow background like hover */
  color: #000;          /* text turns black */
  transform: scale(0.97); /* slight shrink effect */
  transition: all 0.1s ease; /* smooth tap feedback */
}


/* FULL SCREEN MODAL */
.videoModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.videoModal iframe {
  width: 85%;
  height: 85%;
}

.closeBtn {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2.5rem;
  color: #facc15;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .videosGrid {
    grid-template-columns: 1fr;
  }
  .videoModal iframe {
    width: 95%;
    height: 60%;
  }
}
