#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.heroImage {
  position: absolute;
  top: 5rem;
  right: 0;
  height: 80vh;
  object-fit: contain;
  z-index: -1;
}

.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introName {
  color: #ffcc00;
}

.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
}

.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
}

.btnImage {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

/* media */
@media screen and (max-width: 840px) {
  .heroImage {
    right: 10vw;
  }

  .introContent {
    font-size: 2.5rem;
  }
  .hello {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 680px) {
  .heroImage {
    right: 10vw;
  }

  .introContent {
    margin-top: 2rem;
  }
  .hello {
    font-size: 1.75rem;
  }

  .introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 475px) {
  .heroImage {
    right: 0vw;
  }

  .introContent {
    margin-top: 1rem;
  }
  .hello {
    font-size: 1rem;
  }

  .introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .introPara {
    font-weight: 400;
  }
}

@media screen and (max-width: 375px) {
  .heroImage {
    right: 0vw;
  }

  .hello {
    font-size: 1rem;
  }

  .introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .introPara {
    font-weight: 400;
  }
}

/* for whats app and call */
.btnGroup {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

/* WhatsApp */
.whatsappBtn {
  background-color: #25d366;
  color: white;
  cursor: pointer;
}

/* Call */
.callBtn {
  background-color: #0a66c2;
  color: white;
  cursor: pointer;
}

/* Hover effect */
.whatsappBtn:hover,
.callBtn:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}

/* Mobile responsiveness */
.whatsappBtn:active,
.callBtn:active {
  transform: scale(0.97);
  opacity: 0.9;
  transition: 0.1s ease;
}
